.input-wrapper {
  display: flex;
  width: 176px;
}

.border-item {
  width: 48px;
  height: 48px;
  font-size: 16px;
  margin: 8px;
  border: 1px solid var(--normal-color);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.border-item:nth-child(n + 2) {
  margin-left: 0px;
}

.button-style {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.button-style:hover {
  background-color: var(--bg-color);
}

.button-style:disabled {
  background-color: transparent;
  cursor: auto;
  color: var(--disable-color);
  border-color: var(--disable-color);
}

.primary-color {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.input-color {
  color: var(--normal-color);
  border-color: var(--normal-color);
}
