@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

:root {
  --primary-color: #1da7b1;
  --normal-color: #555;
  --disable-color: #91abad;
  --bg-color: #effeff;
}

body,
html {
  font-family: 'Noto Sans TC', Roboto, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  width: 100%;
}
